// table 重置样式
.el-table {
	.el-table__body .el-table__cell {
		padding: 16px 0;
	}
	.el-table__header-wrapper .el-table__header {
		border-radius: 8px;
		overflow: hidden;
	}
	.el-table__header-wrapper .el-table__header .el-table__cell {
		padding: 16px 0;
		background-color: #f6f6f6;
		border-bottom: none;
		font-weight: normal;
		color: #666;
	}
	.el-button.el-button--text {
		padding: 0;
		height: 20px;
	}
}

/********************/
/* 搜索区域 form-item 相关 */
/********************/
.search-con {
	&.el-form--inline {
		.el-form-item {
			margin-right: 12px;
			margin-bottom: 12px;
		}
	}
	.el-select,
	.el-input,
	.el-date-editor {
		width: 260px;
		height: 36px;
		.el-input__wrapper {
			width: 100%;
		}
	}
}

/********************/
/* el-menu 相关 */
/********************/
.el-menu-item {
	position: relative;
	&.is-active {
		font-weight: bold;
		background: #f2f8ff;
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 4px;
			border-radius: 2px;
			background-color: $theme;
			right: 6px;
			top: 10px;
			bottom: 10px;
		}
		.path-name {
			color: #333;
		}
	}
}
.el-sub-menu {
	&.is-active {
		.el-sub-menu__title {
			font-weight: bold;
			color: #333;
			.base-icon {
				color: $theme;
			}
			.el-sub-menu__icon-arrow {
				color: $theme;
			}
		}
	}
}

/********************/
/* el-button 相关 */
/********************/
.el-button--primary {
	background-color: var(--el-color-primary);
	&.is-plain {
		background-color: var(--el-color-primary-light-9);
	}
}
.el-button--success {
	background-color: var(--el-color-success);
	&.is-plain {
		background-color: var(--el-color-success-light-9);
	}
}
.el-button--info {
	background-color: var(--el-color-info);
	&.is-plain {
		background-color: var(--el-color-info-light-9);
	}
}
.el-button--warning {
	background-color: var(--el-color-warning);
	&.is-plain {
		background-color: var(--el-color-warning-light-9);
	}
}
.el-button--danger {
	background-color: var(--el-color-danger);
	&.is-plain {
		background-color: var(--el-color-danger-light-9);
	}
}

.cascader-node {
	max-width: 135px;
}
